<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.drakeforge.mergedefense.analyticsprivacy">
  <application>
    <!-- Firebase Analytics is opt-in. The Unity consent UI enables it only after a user choice. -->
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />
    <meta-data
        android:name="google_analytics_default_allow_ad_personalization_signals"
        android:value="false" />
  </application>
</manifest>
